<p style="color: green"><%= notice %></p>

<%= render @coordinator %>

<div>
  <%= link_to "Edit this coordinator", edit_coordinator_path(@coordinator) %> |
  <%= link_to "Back to coordinators", coordinators_path %>

  <%= button_to "Destroy this coordinator", @coordinator, method: :delete %>
</div>
