<p style="color: green"><%= notice %></p>

<h1>Participants</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">gender</th>
      <th scope="col">date_of_birth</th>
      <th scope="col">action</th>
    </tr>
  </thead>
  <tbody>
  <% @participants.each do |participant| %>
    <tr>
      <th scope="row"><%= participant.id %></th>
      <td><%= participant.name %></td>
      <td><%= participant.gender %></td>
      <td><%= participant.date_of_birth %></td>
      <td><%= link_to 'Show Participant Info' ,participant_path(participant.id), class:"btn btn-danger" %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New participant", new_participant_path %>
