<%= form_with(model: registry) do |form| %>
  <% if registry.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(registry.errors.count, "error") %> prohibited this registry from being saved:</h2>

      <ul>
        <% registry.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :coordinator_id, style: "display: block" %>
    <%= form.select :coordinator_id, Coordinator.all.pluck(:name, :id) %>
  </div>
  
  <div>
    <%= form.label :participant_id, style: "display: block" %>
    <%= form.select :participant_id, Participant.all.pluck(:name, :id) %>
   
  </div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :location, style: "display: block" %>
    <%= form.text_field :location %>
  </div>

  <div>
    <%= form.label :state, style: "display: block" %>
    <%= form.select :state, ['open', 'close']%>
    
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
