<div id="<%= dom_id registry %>">
  <p>
    <strong>Coordinator:</strong>
    <%= registry.coordinator_id %>
  </p>

  <p>
    <strong>Participant:</strong>
    <%= registry.participant_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= registry.name %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= registry.location %>
  </p>

  <p>
    <strong>State:</strong>
    <%= registry.state %>
  </p>

</div>
